{% extends 'base.html'%}
{% load static %}
{% load humanize %}


<!doctype html>
<html lang="en">
<head>

</head>
{% block content %}
<body>
    <header></header>
    
        
            <form action="{% url 'home' %}" class="form-inline my-2 my-lg-0" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Enter Ticker" aria-label="Search" name="ticker">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Get Stock</button>
            </form>
            <br />
            <br />


            {%if api %}
            {% if api == "Error..."%}
            There was a problem with your ticker symbol,
            please try again...
            {% else %}

            <table class="table table-hover table-bordered border-dark  CELLPADDING='4' CELLSPACING='3'   ">
                <thead class="thead-light">
                    <tr>
                        <th COLSPAN="2">
                            <h1>{{ api.companyName }}</h1>
                        </th>
                    </tr>
                    <tr>
                        <th>DETAILS</th>
                        <th>VALUE</th>
                    </tr>
                </thead>
                <tr>
                    <TD>Stock Price</TD>
                    <TD>${{api.latestPrice|intcomma}}</TD>
                </tr>
                <tr>
                    <td>Previous Close</td>
                    <td>${{ api.previousClose|intcomma}}</td>
                </tr>
                <tr>
                    <td>Market Cap</td>
                    <td>${{ api.marketCap|intcomma}}   ({{ api.marketCap|intword}})</td>
                </tr>
                <tr>
                    <td>YTD Change</td>
                    <td>{{ api.ytdChange|floatformat:5}} %</td>
                </tr>
                <tr>
                    <td>52 WK High</td>
                    <td>${{ api.week52High|intcomma}}</td>
                </tr>
                <tr>
                    <td>52 WK Low</td>
                    <td>${{ api.week52Low|intcomma}}</td>
                </tr>
            </table>

            {%endif%}
            {% endif %}

       

    

    
   
    


</body>

</html>

 {% endblock %}

